  @media screen and (max-width: 1200px) {
    
    #apropos .card-container {
        flex-direction: column;
        align-items: center; 
      }
    
      .card {
        margin-top: 2rem;
      }

      #apropos, #skills{
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100rem;
        margin: 0;
    }

  }


  @media screen and (max-width: 1100px) {
    
    .card-container {
        flex-direction: column;
        align-items: center;
      }
    
      .card {
        margin-top: 2rem;
      }

      #portfolio{
        display: grid;
        justify-content: center;
        align-items: center;
        height: 170rem;
        margin: 0;
    }

  }


  @media screen and (max-width: 600px) {
    
    .accueil h1 { 
        font-size: 4rem; 
    }

    h1, h2{
        font-size: 4rem;    
    }
    /* a propos */
    

.images{
    border: 3px solid black;
    border-radius: 25px;
    width: 400px;
    height: 400px;
}

.images img{
    border-radius: 20px;
    width: 400px;
    height: 400px;
}

.texte{
    border: 3px solid black;
    border-radius: 25px;
    width: 400px;
    height: 400px;
}

.texte p{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12.9px;
}

.card-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}


.card {
    perspective: 1000px;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 450px;
    height: 500px;
    justify-content: space-between;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}


.face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 25px;
    background-color: rgba(220, 220, 220, 0.926);
}

.back {
    transform: rotateY(180deg);
}

.btn {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 16px;
    background-color: #000000;
    color: white;
    border: none;
    box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.25); 
    border: 3px solid black;
    border-radius: 6%;
}

}


@media screen and (max-width: 600px) {
    
.images{
    border: 3px solid black;
    border-radius: 25px;
    width: 300px;
    height: 300px;
}

.images img{
    border-radius: 20px;
    width: 300px;
    height: 300px;
}

.texte{
    border: 3px solid black;
    border-radius: 25px;
    width: 300px;
    height: 300px;
}

.texte p{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 9.43px;
}

.card-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}


.card {
    perspective: 1000px;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 350px;
    height: 400px;
    justify-content: space-between;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}


.face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 25px;
    background-color: rgba(220, 220, 220, 0.926);
}

.back {
    transform: rotateY(180deg);
}

.btn {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 16px;
    background-color: #000000;
    color: white;
    border: none;
    box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.25); 
    border: 3px solid black;
    border-radius: 6%;
}

  }

  

  @media screen and (max-width: 420px) {
    
    .accueil h1 { 
        font-size: 3rem; 
    }

    h1, h2{
        font-size: 3rem;    
    }
  }


  /* contact */

  @media screen and (max-width: 400px) {
    .contact-form label {
      font-size: 0.5rem;
    }
    .contact-form input,
    .contact-form textarea {
      font-size: 0.5rem;
    }
  }

  @media screen and (max-width: 600px) {
    .contact-form label {
      font-size: 1rem;
    }
    .contact-form input,
    .contact-form textarea {
      font-size: 1rem;
    }
  }

  /* menu burger */

  @media screen and (max-width: 1300px) {

    .toggler:checked ~ .menu{
        width: 25%;
        position: fixed;
        z-index: 1;
    }


}

@media screen and (max-width: 1040px) {

    .toggler:checked ~ .menu{
        width: 27%;
        position: fixed;
        z-index: 1;
    }


}

@media screen and (max-width: 1000px) {

    .toggler:checked ~ .menu{
        width: 35%;
        position: fixed;
        z-index: 1;
    }

}

@media screen and (max-width: 800px) {

    .toggler:checked ~ .menu{
        width: 45%;
        position: fixed;
        z-index: 1;
    }

}

@media screen and (max-width: 400px) {

    .toggler:checked ~ .menu{
        width: 80%;
        position: fixed;
        z-index: 1;
    }

}