html {
    scroll-behavior: smooth;
  }

body {
    background-image: url('imgs/fond\ ecran\ galaxie.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

img{
    color: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

/* header */

nav{
    position: fixed;
    z-index: 2;
    background-color: #46464639;
}

header {
   font-size: 2rem;
   padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

header a{
   color: aliceblue;
   text-decoration: none;
   font-size: 2rem;
   padding: 1rem;
   
}

.title h1{
    background-color: rgba(220, 220, 220, 0.926);
    color: black;
    justify-content: center;
    height: 4rem;
    
    border-radius: 30px;
}

button{
    display: flex;
}

/*  */

.card-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 25px;
    background-color: rgba(220, 220, 220, 0.926);
}

.portfolio{
    padding-top: 18rem;
}

.images-portfolio{
    border: 3px solid black;
    border-radius: 25px;
    width: 190px;
    height: 190px;
}

.images-portfolio img{
    border-radius: 20px;
    width: 190px;
    height: 190px;
}

.cardportfolio{
    perspective: 1000px;
    margin-left: 5rem;
    width: 220px;
    height: 220px;
}

.card-inner-portfolio{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.images-portfolio .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }


  .back-button-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.back-button {
    background-color: rgba(220, 220, 220, 0.171);
    color: #ffffff;
    padding: 0.5rem;
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 10rem;
}

/* menu burger */


/* header source : https://codepen.io/alvarotrigo/pen/PoJGObg */


.toggler{
    z-index:3;
    height: 5rem;
    width: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

.hamburger{
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 3rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
}

.hamburger > div{
    position: relative;
    top: 0;
    left: 0;
    background: white;
    height: 0.2rem;
    width: 100%;
    transition: all  0.4s ease;

}

.hamburger > div::before,
.hamburger > div::after{
    content: '';
    position: absolute;
    top: -20px;
    background: white;
    width: 100%;
    height: 0.2rem;
    transition: all  0.4s ease;
}

.hamburger > div::after{
    top: 20px;
}
.toggler:checked + .hamburger > div{
    background: rgba(0,0,0,0);
}

.toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
    background: black;
}

.toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
    background: black;
}
.menu{
    background: white;
    height: 400vh;
    transition: all 0.4s ease;
    position: fixed;
    margin-top: -20rem;
}

.toggler:checked ~ .menu{
    width: 20%;
    
    position: fixed;
    z-index: 1;
}

.menu >  div > ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7rem;
    padding-left: 10px;
    visibility: hidden;
}

.menu > div > ul > li{
    list-style: none;
    padding: 0.5rem;
}

.menu > div > ul > li > a{
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toggler:checked ~ .menu > div > ul{
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    visibility: visible;
}
