html {
    scroll-behavior: smooth;
  }

body {
    background-image: url('imgs/fond\ ecran\ galaxie.png') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    text-decoration: none;
}

h1{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    padding-bottom: 4rem;
}

#apropos, #skills, #portfolio, #projects{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


/* header source : https://codepen.io/alvarotrigo/pen/PoJGObg */


.toggler{
      z-index:3;
      height: 5rem;
      width: 3rem;
      position: fixed;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 0;
  }
  
  .hamburger{
      position: fixed;
      top: 0;
      left: 0;
      height: 5rem;
      width: 3rem;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      
  }
  
  .hamburger > div{
      position: relative;
      top: 0;
      left: 0;
      background: white;
      height: 0.2rem;
      width: 100%;
      transition: all  0.4s ease;

  }

  .hamburger > div::before,
  .hamburger > div::after{
      content: '';
      position: absolute;
      top: -20px;
      background: white;
      width: 100%;
      height: 0.2rem;
      transition: all  0.4s ease;
  }
  
  .hamburger > div::after{
      top: 20px;
  }
  .toggler:checked + .hamburger > div{
      background: rgba(0,0,0,0);
  }
  
  .toggler:checked + .hamburger > div::before{
      top: 0;
      transform: rotate(45deg);
      background: black;
  }
  
  .toggler:checked + .hamburger > div::after{
      top: 0;
      transform: rotate(135deg);
      background: black;
  }
  .menu{
      background: white;
      height: 400vh;
      transition: all 0.4s ease;
      position: fixed;
      margin-top: -20rem;
  }
  
  .toggler:checked ~ .menu{
      width: 20%;
      
      position: fixed;
      z-index: 1;
  }
  
  .menu >  div > ul{
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 7rem;
      padding-left: 10px;
      visibility: hidden;
  }
  
  .menu > div > ul > li{
      list-style: none;
      padding: 0.5rem;
  }
  
  .menu > div > ul > li > a{
      color: black;
      text-decoration: none;
      font-size: 2.5rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .toggler:checked ~ .menu > div > ul{
      transition: visibility 0.4s ease;
      transition-delay: 0.1s;
      visibility: visible;
  }

/* accueil */

.accueil{
    margin-top: 20rem;
    margin-bottom: 15rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.accueil h1 { 
    font-size: 6rem; 
    color: #ffffff;
}

/* cartes a propos */

.apropos{
    margin-bottom: 5rem;
    
}

.images{
    border: 3px solid black;
    border-radius: 25px;
    width: 550px;
    height: 550px;
}

.images img{
    border-radius: 20px;
    width: 550px;
    height: 550px;
}

.texte{
    border: 3px solid black;
    border-radius: 25px;
    width: 550px;
    height: 500px;
}

.texte p{
    margin-right: 10px;
    margin-left: 10px;
}

.card-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}


.card {
    perspective: 1000px;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 600px;
    height: 650px;
    justify-content: space-between;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}


.face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 25px;
    background-color: rgba(220, 220, 220, 0.926);
}

.back {
    transform: rotateY(180deg);
}

.btn {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 16px;
    background-color: #000000;
    color: white;
    border: none;
    box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.25); 
    border: 3px solid black;
    border-radius: 6%;
}

/* skills cartes */

.images-skill{
    border: 3px solid black;
    border-radius: 25px;
    width: 320px;
    height: 420px;
}

.images-skill img{
    border-radius: 20px;
    width: 320px;
    height: 420px;
    filter: brightness(50%);
}

.cardskill{
    perspective: 1000px;
    width: 350px;
    height: 500px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.card-inner-skill{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.images-skill .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

/* portfolio */

.portfolio{
    padding-top: 18rem;
}

.images-portfolio{
    border: 3px solid black;
    border-radius: 25px;
    width: 320px;
    height: 332px;
}

.images-portfolio img{
    border-radius: 20px;
    width: 320px;
    height: 332px;
    filter: brightness(50%);
}

.cardportfolio{
    perspective: 1000px;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 350px;
    height: 420px;
}

.card-inner-portfolio{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.images-portfolio .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  /* contact */
  .swal-button {
    background-color: #000;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}

.swal-button:not([disabled]):hover {
    background-color: #fff;
    color: #000;
    border: 3px solid black;
}

  .contact-form{
    max-width: 650px;
    margin: auto;
    padding: 2rem;
    border-radius: 25px;
    width: 100%;
    display: grid;
    row-gap: 1rem;
    background-color: rgba(220, 220, 220, 0.926);
    
}

.contact__container{
    color: #fff;
    padding-top: 15rem;
}

.contact-form input, .contact-form textarea{
    outline: auto;
    font-size: 0.9rem;
    padding: 15px;
    color: rgb(0, 0, 0);
    background: whitesmoke;
    border-radius: 0.4rem;
}

.contact-form .send-btn{
    width: 120px;
    color: #000000;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background-color: whitesmoke;
    cursor: pointer;
}

.contact-form .send-btn:hover{
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    box-shadow: 10px 10px 5px rgba(92, 92, 92, 0.475) inset;
    cursor: pointer;
}

.contact-form input:hover, .contact-form textarea:hover{
    outline: auto;
    font-size: 0.9rem;
    padding: 15px;
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 5px rgba(92, 92, 92, 0.475) inset;
    border-radius: 0.4rem;
}

  /* vers le haut btn */
  
  #back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: rgba(220, 220, 220, 0.926);
    color: #000000;
    padding:  1rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  #back-to-top svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  /* Afficher le bouton lorsque l'utilisateur fait défiler la page */
  body:not(.home) #back-to-top,
  body.home.scrolled #back-to-top {
    opacity: 1;
  }





  /* footer */

  #scrollUp{
    margin: 3rem;
    }
    
    body {
    display: block;
    overflow-x: hidden;
    margin: 0px;
    }
    
    h4{
    font-size: 30px;
    font-style: bold;
    text-decoration: underline;
    }
    
    .bottom .billeterie {
      display: flex;
      align-items: center;
      border: none;
      outline: none;
      border-radius: 10px;
      background: var(--or, #AB721C);
      width: 230px;
      height: 62px;
      margin: 0px;
      justify-content: center;
      padding: 10px 19px 10px 10px;
      color: #FFF;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 30px;
      font-weight: 400;
      text-decoration: none;
      text-emphasis: none;
      transition: text-decoration 0.25s;
    }
    
    
    .billeterie img {
      width: 39px;
      height: 39px;
      margin-left: 15px;
    }
    
    
    
    .invisible {
    display: block;
    
    }
    
    .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .bottom a {
    text-decoration: none;
    }
    
    /* fond */
    .site-footer {
      background-color: rgb(255, 255, 255);
      padding: 20px;
      color: rgb(182, 182, 182);
      border-radius: 2rem 2rem 0rem 0rem;
      
    }
    
    .site-footer b{
    font-style: normal;
    color: rgb(255, 255, 255);
    }
    
    .site-footer p, b{
    font-style: ita;
    color: rgb(182, 182, 182);
    }
    
    .row{
    margin-right: 15rem;
    margin-bottom: 5rem;
    }
    
    .top, .bottom {
      display: flex;
      padding: 0px;
    }
    
    .site-footer h4 {
      color: #ffffff;
      margin-top: 5px;
      letter-spacing: 2px;
    }
    
    .site-footer a {
      color: #b4b4b4;
      font-style: 'Roboto';
    }
    
    .site-footer a:hover {
      font-style: bold;
      color: #ffffff;
      text-decoration: none;
    }
    
    /* espace */
    
    .space{
    padding: 3rem 0rem 0rem 0rem;
    }
    
    /* social */
    
    .horaire {
      font-style: normal;
    }
    
    .social{
    border-left: 2px solid #ffffff;
    padding: 35px 20px 0px 40px;
    
    }
    
    .social .single-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
    .social .single-social .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    }
    
    .content p{
    color: #ffffff;
    }
    
    .social a.instagram,
    .social a.youtube,
    .social a.facebook,
    .social a.twitter {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      font-size: 1.3rem;
      text-decoration: none;
      display: flex;
      transition: all 1s ease-out;
    }
    
    .social .bxl-facebook,
    .social .bxl-twitter,
    .social .bxl-instagram,
    .social .bxl-youtube {
      display: flex;
      font-size: 2rem;
      transition: all 1s ease-out;
    }
    
    /* btn espacement */
    .social i.bxl-facebook,
    .social i.bxl-twitter,
    .social i.bxl-instagram,
    .social i.bxl-youtube {
      border-radius: 100%;
      padding: 10px;
      transition: all 1s ease-out;
      margin-right: 0px;
    }
    
    
    
    /* hover / animation */
    .social i.bxl-facebook:hover {
      background-color: #3b5998;
    }
    
    .social i.bxl-twitter:hover {
      background-color: #00aced;
    }
    
    .social i.bxl-instagram:hover {
      background-color: #f331c5;
    }
    
    .social i.bxl-youtube:hover {
      background-color: #ff0000;
    }
    
    /* hover / animation */
    
    .social i.bxl-facebook:hover{
    background-color:#3b5998;
    }
    
    .social i.bxl-twitter:hover{
    background-color:#00aced;
    }
    
    .social i.bxl-instagram:hover{
    background-color:#f331c5;
    }
    
    .social i.bxl-youtube:hover{
    background-color:#ff0000;
    
    }
    
    .single-social p {
    margin-left: 100px;
    padding: 30px;
    }
    
    
    .single-social::before, .single-social::after {
    content: "";
    width: 100px;
    background-color: #a9a9a9;
    height: 1px;
    display: block;
    
    }
    
    /* Style pour le conteneur du copyright */
    .copyright-text {
      text-align: center;
      background-color: rgb(0, 0, 0);
      color: white;
      padding: 10px;
      width: 100%;
      height: 30px;
      box-sizing: border-box; 
      padding-top: 3rem;
    }
    
    
    
    /* Pour les écrans de petite taille (moins de 768px) */
    @media (max-width: 767px) {
    .top {
      flex-direction: column;
      align-items: center;
    }
    .row {
      margin-right: 0;
    }
    .social{
      border-top: 1px solid #ffffff;
      border-left: transparent;
      padding: 20px 0px 40px;
    }
    
    .single-social{
      font-size: 1.2rem;
    }
    
    
    }
    
    /* Pour les écrans de taille moyenne (entre 768px et 991px) */
    @media (min-width: 768px) and (max-width: 991px) {
    .top {
      flex-direction: column;
    }
    .row {
      margin-right: 5rem;
    }
    .social{
      border-top: 2px solid #ffffff;
      border-left: transparent;
      padding:  20px 0px 40px;
    }
    
    .single-social{
      font-size: 1.2rem;
    }
    
    .single-social::before, .single-social::after {
      content: "";
      width: 500px;
      background-color: #a9a9a9;
      
    }
    
    .single-social::after{
      margin-left: 4rem;
    }
    
    }
    
    @media (min-width: 1191px) {
    .top {
      flex-direction: column;
      align-items: center;
    }
    .row {
      margin-right: 5rem;
    }
    .social{
      border-top: 3px solid #ffffff;
      border-left: transparent;
    }
    
    .single-social{
      font-size: 1.3rem;
    }
    
    
    }
    
    /* Pour les écrans de grande taille (plus de 1200px) */
    @media (min-width: 1200px) {
    .top {
      flex-direction: row;
    }
    .row {
      margin-right: 15rem;
    }
    
    .social{
      border-top:transparent ;
      border-left: 3px solid #ffffff;
      padding: 20px 40px;
    }
    
    .single-social{
      font-size: 1.3rem;
    }
    }

    /* .portfolio */
    
    .projects {
      justify-content: center;
      align-items: center;
      display: grid;
      grid: auto-flow;
      gap: 20px;
      padding-top: 7rem;
      margin-bottom: 5rem;
      
  }

  .project {
      background-color: #f0f0f0;
      margin-left: 15rem;
      margin-right: 15rem;
      padding: 20px;
      border-radius: 10px;
      transition: transform 0.3s;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      
  }
  
  .project:hover {
    transform: translateY(-10px);
  }

  .project img {
      border: 2px solid black;
      width: 180px;
      height: auto;
      margin-right: 20px;
      border-radius: 10px;
  }

  .project-info {
      flex: 1;
  }

  .project h2 {
      margin-top: 0;
      margin-bottom: 10px;
  }

  .project p {
      margin-bottom: 10px;
  }
  


